@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cor1 : #455559;
    --cor2:  #3D5A73;
    --cor3:  #2F3D40;
    --cor4:  #28403D;
    --cor5:  #182625;

    --font1: "PT Serif", serif;
}

*{
    font-family: var(--font1);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

section#login{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
    transition: width .3s, height .3s;
    transition-timing-function: ease; 
}

section#login > div#imagem{
    display: block;
    background: var(--cor1) url(../imagens/buildingmed.jpg) no-repeat;
    background-size: cover;
    height: 200px;

}

section#login > div#formulario{
    display: block;
    padding: 10px;
}
 
div#formulario > p {
    font-size: 0.8em;
} 

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor4);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--cor2);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: var(--cor4);
    color: white;
    border: 1px solid var(--cor5);
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: var(--cor2);
}

form > a.botao > span {
    font-size: 0.8em;
}




